*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background: var(--bg-color);
color: var(--ltr-color);
}
:root{
--bg-color: #fff;
--ltr-color:#000;
--luz-head:#333;
}
.light{
--bg-color: #333;
--ltr-color:#fff;
--luz-head: #fff;
}

.header{
    /*border: 1px solid red;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e3e0e0;
    box-shadow: 0 5px 10px #000;
    z-index: 1;
}
.navbar ul{
    list-style: none;
   /* border: 1px solid red;*/
    
}
.navbar ul li{
    position: relative;
    float: left;
}

.navbar ul li a{
    font-size: 25px;
    padding: 20px;
    color: #000;
    display: block;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color: #333;
    color:#fff;
    transition: all 0.4s;
}

.navbar ul li ul{
    position: absolute;
    left: 0;
    width: 195px;
    background-color: #e3e0e0;
    display: none;
    z-index: 1;
}
.navbar ul li ul li{
    width: 100%;
    border-top: 1px solid #000;
}
.navbar ul li:hover > ul{
    display: initial;
}
#clic{
   /* border: 1px solid red;*/
    width: 90px;
    /*position: relative;*/
    margin: 4px auto;
    cursor: pointer;
}
#clic button{
   /* display: none;
    width: 40px;
    height: 30px;
    border-radius: 50%;*/
    border: none;
    position: relative;
    left: 0;
    z-index: 1;
    background: url(./moon-svgrepo-com.svg) no-repeat center;
    
}
.box{
    display: flex;
    padding: 10px 20px;
    background: #fff;
    border-radius: 50px;
    align-items: center;
    box-shadow: 0 5px 10px #000;
    
}
.box input{
    width: 0;
    outline: none;
    border: none;
    transition: 0.8s;
    background: transparent;
}
.box:hover input{
        width: 400px;
    }
.imgBG3{
  
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: contain;
   background-color: #fff;
   width: 100%;
   height: 520px;
   background-image: url(./img1/news.jpg);

}
.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.main-news {
    width: 85vw;
    flex: 0 0 50%;
    margin-bottom: 20px;
}
.main-news img {
    width: 85%;
    height: 500px;
}
.main-news .content {
    margin-top: 20px;
}
.secondary-news {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
    margin-top: 20px;
}
.secondary-news div {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.secondary-news div img {
    width: 100%;
    height: auto;
}
.carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.carousel-content {
    padding: 18px;
    gap: 8px;
    display: flex;
    transition: transform 1s ease; /* Carrossel mais devagar */
}
.carousel-item {
    flex: 0 0 25%;
}
aside {
    height: 60vh;
   /* border: 1px solid var(--ltr-color);*/
    flex: 5%; /* Ajustando a largura do aside */
    text-align: center;

}
aside h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
aside img {
    width: 70%;
    margin-bottom: 5px;
}

footer{
    width: 100%;
    padding: 32px;
    background: #e3e0e0;
    color: #000;
    text-align: center;
}
.imedia{
    display: flex;
    justify-content: center;
    gap: 12px;
 }
 .clik{
    display: none;
 }
.check{
    display: none;
}
.box1{
    display: none;
}
   
@media(max-width: 600px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    .navbar{
        position: absolute;
        top: 110px;
        background: #e3e0e0;
        left: -100%;
        height: 100vh;
        width: 75%;
        text-align: center;
        transition: ease all .5s;
        z-index: 1;
    }
    .box{
        display: none;
    }
    .box1:hover input{
        width: 250px;
    }
    .box1{
        display: flex;
        padding: 10px 20px;
        background: #fff;
        border-radius: 50px;
        align-items: center;
        box-shadow: 0 5px 10px #000;
        
    }
    .box1 input{
        width: 0;
        outline: none;
        border: none;
        transition: 0.8s;
        background: transparent;
    }
    .clik{
        display: block;
    }
    .check{
        display: none;
        
    }
    .check:checked ~ .navbar{
        left: 0;
         
     }
     .navbar ul li a{
        justify-content: space-between;
        font-size: 35px;
        margin: 5px;
        line-height: 30px;
     }
    
     #podcast{
        display: grid;
    }
     h1{
        position: relative;
        font-size: medium;
        
    }
    
    .imgBG3{
    background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-color: #fff;
   width: 100%;
   height: 400px;
   background-image: url(./img1/news2.jpg);
     }
    }
    .main-news {
        flex: 100%;
    }
    .secondary-news {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    aside {
        flex: 45%;
        position: static;
    }
    
    .main-news {
        flex: 100%;
    }
    .main-news img {
        width: 85%;
        height: 500px;
    }
    .main-news .content {
        margin-top: 20px;
    }

