*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 1px solid red;
    background: var(--bg-color)
    /*min-width: 100vh;*/
}
:root{
    --bg-color:#fff;
    color: #000;
    --card-color:#333;
    --cardp-color: #fff;
}
.light{
    --bg-color:#333;
    color:#fff;
    --card-color: #fff;
    --cardp-color:#000;
}

.header{
    /*border: 1px solid red;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e3e0e0;
    box-shadow: 0 5px 10px #000;
    z-index: 1;
}
.navbar ul{
    list-style: none;
   /* border: 1px solid red;*/
    
}
.navbar ul li{
    position: relative;
    float: left;
}

.navbar ul li a{
    font-size: 25px;
    padding: 20px;
    color: #000;
    display: block;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color: #333;
    color:#fff;
    transition: all 0.4s;
}

.navbar ul li ul{
    position: absolute;
    left: 0;
    width: 195px;
    background-color: #e3e0e0;
    display: none;
    z-index: 1;
}
.navbar ul li ul li{
    width: 100%;
    border-top: 1px solid #000;
}
.navbar ul li:hover > ul{
    display: initial;
}
#clic{
   /* border: 1px solid red;*/
    width: 90px;
    /*position: relative;*/
    margin: 4px auto;
    cursor: pointer;
}
#clic button{
   /* display: none;
    width: 40px;
    height: 30px;
    border-radius: 50%;*/
    border: none;
    position: relative;
    left: 0;
    z-index: 1;
    background: url(./moon-svgrepo-com.svg) no-repeat center;
    
}
.box{
    display: flex;
    padding: 10px 20px;
    background: #fff;
    border-radius: 50px;
    align-items: center;
    box-shadow: 0 5px 10px #000;
    
}
.box input{
    width: 0;
    outline: none;
    border: none;
    transition: 0.8s;
    background: transparent;
}
.box:hover input{
        width: 400px;
    }
 #imgBG{
      height: 550px;
      width: 100%;
      background: url(./img1/bannAN.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment:fixed;
      background-color: #fff;
 }
 .carrosel {
    border: 1px solid red;
    visibility: visible;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    scrollbar-width:none;
}
.pic img {
    overflow-clip-margin: content-box;
    overflow: clip;
    width: calc(200px *2);
    /*border-radius: 50%;*/
}
.pic{
    flex: 1 0 auto;
    margin: 0 5px;
    width: 400px;
    height: 400px;
}
.container{
display: flex;
gap: 1rem;
}
aside, main {
margin: 10px;
height: 95vh;
}
main{
 border: 1px solid green;
flex: 1;
}
aside{
flex-basis: 20%;
}
.card .img1{
  width: 300px ;
  background: var(--card-color);
}
.card h2{
    text-align: center;
    justify-content: center;
    background: var(--card-color);
    color: var(--cardp-color);
}
.card p{
    text-align: center;
    justify-content: center;
    background: var(--card-color);
    color: var(--cardp-color);
}
.card p{
    visibility: hidden;
}
.card:hover p{
    visibility: visible;
}



 footer{
    width: 100%;
    padding: 32px;
    background: #e3e0e0;
    color: #000;
    text-align: center;
}
.imedia{
    display: flex;
    justify-content: center;
    gap: 12px;
 }
 .clik{
    display: none;
 }
.check{
    display: none;
}
.box1{
    display: none;
}



@media(max-width: 600px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .logo{
        display: none;
    }
    .navbar{
        position: absolute;
        top: 110px;
        background: #e3e0e0;
        left: -100%;
        height: 90vh;
        width: 70%;
        text-align: center;
        transition: ease all .5s;
        z-index: 1;
    }
    .box{
        display: none;
    }
    .box1:hover input{
        width: 250px;
    }
    .box1{
        display: flex;
        padding: 10px 20px;
        background: #fff;
        border-radius: 50px;
        align-items: center;
        box-shadow: 0 5px 10px #000;
        
    }
    .box1 input{
        width: 0;
        outline: none;
        border: none;
        transition: 0.8s;
        background: transparent;
    }
    .clik{
        display: block;
    }
    .check{
        display: none;
        
    }
    .check:checked ~ .navbar{
        left: 0;
         
     }
     .navbar ul li a{
        justify-content: space-between;
        font-size: 35px;
        margin: 5px;
        line-height: 30px;
     }
    aside, main{
        display: none;
    }
    .side{
        position:static;
        display: block;
    }





    }